* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Header */
.navbar {
  background-color: aqua;
  /* align-items: center;
  justify-content: center;
  display: flex; */
}
.logo {
  float: left;
  width: 120px;
  height: 30px;
  margin: 16px 24px 16px 0;
  background-color: antiquewhite;
}
.nav-stats {
  float: right;
}
/* :where(.css-dev-only-do-not-override-1s3dcof).ant-statistic .ant-statistic-title {
  margin-bottom: 4px;
  color: white;
  font-size: 14px;
} */

/* Home */
.home-stats {
  padding-top: 20px;
}
.home-apes{
  padding: 20px 20px 0 20px;
}
/* Main */
.title-container{
  padding: 20px;
}
.search-ape{
  padding-top: 20px;
  width: 20%;
}
/* Footer */
.footer-blank {
  width: 33%;
}
.footer-text {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logos {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 28px;
}